<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | Mi Web Personal</title>
</head>
<body>
    <!--cabecera y menu-->
    <h1>Mi web personal Jose Manuel</h1>
    <ul>
        <li><a href="{% url 'home'%}">Portada</a></li>
        <li><a href="{% url 'about'%}">>Acerca de</a></li>
        <li><a href="{% url 'portafolio'%}">>Portafolio</a></li>
        <li><a href="{% url 'contacto'%}">>Contacto</a></li>
    </ul>
    <!--Contenido-->
    {% block content %}{% endblock %}
</body>
</html> 